# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
.venv/
venv/
env/

# =========================
# Runtime data (NÃO versionar)
# =========================
data/*
!data/student_template.csv
attendance/


# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
.idea/
.vscode/
__pycache__/
venv/
photos/
*.pyc
